body{
    background-color:cornflowerblue;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-left: 100px;
    padding-right: 50px;
    padding-top: 50px;
    padding-bottom: 100px;
    border: solid 2px black;
    border-radius: 2px;
}
h1{
    border: solid 1px black;
    text-align:  center;
    padding: 20px 20px;
}
input:hover{
    color: white;
    background-color: aliceblue;
}
.btn{
            padding: 10px 20px;
            font-size: 18px;
            background-color:black;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
}
.btn:hover {
            background-color:white;
            text-decoration: black;}